@import "tailwindcss";

:host {
    display: block;
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__content {
    padding: 0 !important;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none;
}

mat-form-field {
    @apply transition-all duration-300;
}

mat-form-field.mat-focused {
    @apply scale-[1.01];
}